package {{invokerPackage}};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.boot.web.client.RestTemplateBuilder;
import org.springframework.web.client.RestTemplate;
import org.springframework.http.client.ClientHttpRequestInterceptor;
import java.util.List;
import java.util.Optional;
import java.util.Collections;

import static java.util.stream.Collectors.toList;

class ApiConfiguration {

    private static final String BASE_PATH = "{{basePathWithoutHost}}";

    private final String url;

    private final RestTemplate restTemplate;

    @Autowired
    public ApiConfiguration(RestTemplateBuilder restTemplateBuilder, Optional<List<ClientHttpRequestInterceptor>> interceptors, {{=<% %>=}}@Value("${<%pathVariableName%>}")<%={{ }}=%> String url) {
        restTemplate = restTemplateBuilder.rootUri(strip(url) + "/" + strip(BASE_PATH))
           .additionalInterceptors(interceptors.orElse(Collections.emptyList()).stream().filter(e -> !e.getClass().getSimpleName().equals("LoadBalancerInterceptor")).collect(toList()))
           .build();
        this.url = url;
    }
{{#apiInfo}}{{#apis}}
    @Bean
    {{classname}} provide{{classname}}() {
        return new {{classname}}(restTemplate);
    }
{{/apis}}{{/apiInfo}}
    private static String strip(String s) {
        return s.replaceAll("/$|^/", "");
    }
}
